In [3]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'].insert(0, 'Malgun Gothic')  #Malgun Gothic(Windows) -> AppleGothic(mac OS)
%matplotlib inline

# data 불러오기

In [4]:
#2016년 
data_2016_4= pd.read_csv("data/2016_4.csv", encoding = "euc_kr", sep=",")

C:\Users\user\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
data_2016_4=data_2016_4.drop(['대여일시(시)','날짜','반납일시(시)'],axis=1)

In [10]:
data_2016_4.columns

Index(['자전거번호', '대여일시', '대여소번호', '대여소명', '거치대번호', '반납일시', '반납대여소명', '반납 거치대번호',
       '이용시간(분)', '이용거리(M)'],
      dtype='object')

In [11]:
# column 명 통일
data_2016_4 = data_2016_4.rename(index=str, columns={'대여소번호':'대여대여소번호','대여소명':'대여대여소','거치대번호':'대여거치대','반납대여소명':'반납대여소','반납 거치대번호':'반납거치대'})

In [6]:
# df.a = df.a.astype(float)
# 2016_1만 float / 나머지 str임.
data_2016_1["대여대여소번호"] = data_2016_1["대여대여소번호"].fillna(9999).astype(int).astype(str)
data_2016_2["대여대여소번호"] = data_2016_2["대여대여소번호"].fillna(9999).astype(str)
data_2016_3["대여대여소번호"] = data_2016_3["대여대여소번호"].fillna(9999).astype(str)
data_2017_1["대여대여소번호"] = data_2017_1["대여대여소번호"].fillna(9999).astype(str)
data_2017_2_1["대여대여소번호"] = data_2017_2_1["대여대여소번호"].fillna(9999).astype(str)
data_2017_2_2["대여대여소번호"] = data_2017_2_2["대여대여소번호"].fillna(9999).astype(str)
data_2017_3_1["대여대여소번호"] = data_2017_3_1["대여대여소번호"].fillna(9999).astype(str)
data_2017_3_2["대여대여소번호"] = data_2017_3_2["대여대여소번호"].fillna(9999).astype(str)
data_2017_4_1["대여대여소번호"] = data_2017_4_1["대여대여소번호"].fillna(9999).astype(str)
data_2017_4_2["대여대여소번호"] = data_2017_4_2["대여대여소번호"].fillna(9999).astype(str)
data_2018_1["대여대여소번호"] = data_2018_1["대여대여소번호"].fillna(9999).astype(str)
data_2018_2_1["대여대여소번호"] = data_2018_2_1["대여대여소번호"].fillna(9999).astype(str)
data_2018_2_2["대여대여소번호"] = data_2018_2_2["대여대여소번호"].fillna(9999).astype(str)
data_2018_2_3["대여대여소번호"] = data_2018_2_3["대여대여소번호"].fillna(9999).astype(str)
data_2018_2_4["대여대여소번호"] = data_2018_2_4["대여대여소번호"].fillna(9999).astype(str)

In [7]:
# df.a = df.a.astype(float)
# 2016_1만 float / 나머지 str임.
data_2016_1["반납대여소번호"] = data_2016_1["반납대여소번호"].fillna(9999).astype(int).astype(str)
data_2016_2["반납대여소번호"] = data_2016_2["반납대여소번호"].fillna(9999).astype(str)
data_2016_3["반납대여소번호"] = data_2016_3["반납대여소번호"].fillna(9999).astype(str)
data_2017_1["반납대여소번호"] = data_2017_1["반납대여소번호"].fillna(9999).astype(str)
data_2017_2_1["반납대여소번호"] = data_2017_2_1["반납대여소번호"].fillna(9999).astype(str)
data_2017_2_2["반납대여소번호"] = data_2017_2_2["반납대여소번호"].fillna(9999).astype(str)
data_2017_3_1["반납대여소번호"] = data_2017_3_1["반납대여소번호"].fillna(9999).astype(str)
data_2017_3_2["반납대여소번호"] = data_2017_3_2["반납대여소번호"].fillna(9999).astype(str)
data_2017_4_1["반납대여소번호"] = data_2017_4_1["반납대여소번호"].fillna(9999).astype(str)
data_2017_4_2["반납대여소번호"] = data_2017_4_2["반납대여소번호"].fillna(9999).astype(str)
data_2018_1["반납대여소번호"] = data_2018_1["반납대여소번호"].fillna(9999).astype(str)
data_2018_2_1["반납대여소번호"] = data_2018_2_1["반납대여소번호"].fillna(9999).astype(str)
data_2018_2_2["반납대여소번호"] = data_2018_2_2["반납대여소번호"].fillna(9999).astype(str)
data_2018_2_3["반납대여소번호"] = data_2018_2_3["반납대여소번호"].fillna(9999).astype(str)
data_2018_2_4["반납대여소번호"] = data_2018_2_4["반납대여소번호"].fillna(9999).astype(str)

In [8]:
print(data_2016_1.columns)
print(data_2016_2.columns)
print(data_2016_3.columns)
print(data_2017_1.columns)
print(data_2017_2_1.columns)
print(data_2017_2_2.columns)
print(data_2017_3_1.columns)
print(data_2017_3_2.columns)
print(data_2017_4_1.columns)
print(data_2017_4_2.columns)
print(data_2018_1.columns)
print(data_2018_2_1.columns)
print(data_2018_2_2.columns)
print(data_2018_2_3.columns)
print(data_2018_2_4.columns)

Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')
Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')

In [9]:
print(data_2016_2.columns == data_2016_1.columns)
print(data_2016_3.columns == data_2016_1.columns)
print(data_2017_1.columns == data_2016_1.columns)
print(data_2017_2_1.columns == data_2017_1.columns)
print(data_2017_2_2.columns == data_2016_1.columns)
print(data_2017_3_1.columns == data_2016_1.columns)
print(data_2017_3_2.columns == data_2016_1.columns)
print(data_2017_4_1.columns == data_2016_1.columns)
print(data_2017_4_2.columns == data_2016_1.columns)
print(data_2016_1.columns == data_2017_4_1.columns)
print(data_2016_1.columns == data_2018_1.columns)
print(data_2016_1.columns == data_2018_2_1.columns)
print(data_2016_1.columns == data_2018_2_2.columns)
print(data_2016_1.columns == data_2018_2_3.columns)
print(data_2016_1.columns == data_2018_2_4.columns)

[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]

In [10]:
#안에 있는 데이터 '빼기
data_2017_1 = data_2017_1.replace(to_replace="[/'/g]", value= "",regex=True)
data_2017_2_1 = data_2017_2_1.replace(to_replace="[/'/g]", value= "",regex=True)
data_2017_2_2 = data_2017_2_2.replace(to_replace="[/'/g]", value= "",regex=True)
data_2017_3_1 = data_2017_3_1.replace(to_replace="[/'/g]", value= "",regex=True)
data_2017_3_2 = data_2017_3_2.replace(to_replace="[/'/g]", value= "",regex=True)
data_2017_4_1 = data_2017_4_1.replace(to_replace="[/'/g]", value= "",regex=True)
data_2017_4_2 = data_2017_4_2.replace(to_replace="[/'/g]", value= "",regex=True)
data_2018_1 = data_2018_1.replace(to_replace="[/'/g]", value= "",regex=True)
data_2018_2_1 = data_2018_2_1.replace(to_replace="[/'/g]", value= "",regex=True)
data_2018_2_2 = data_2018_2_2.replace(to_replace="[/'/g]", value= "",regex=True)
data_2018_2_3 = data_2018_2_3.replace(to_replace="[/'/g]", value= "",regex=True)
data_2018_2_4 = data_2018_2_4.replace(to_replace="[/'/g]", value= "",regex=True)

In [11]:
data_2016_1

,자전거번호,대여일시,대여대여소번호,대여대여소,대여거치대,반납일시,반납대여소번호,반납대여소,반납거치대,이용시간(분),이용거리(M)
0,SPB-00318,2016-07-01 00:01:00,359,원남동사거리,7,2016-07-01 00:05:00,333,창덕궁 매표소 앞,2,3,680
1,SPB-01019,2016-07-01 00:02:00,128,신촌역(2호선) 1번출구 옆,4,2016-07-01 00:12:00,126,서강대 후문 옆,2,9,1350
2,SPB-00768,2016-07-01 00:03:00,302,경복궁역 4번출구 뒤,2,2016-07-01 00:10:00,351,청운초교 앞 삼거리,8,7,1290
3,SPB-00666,2016-07-01 00:03:00,114,홍대입구역 8번출구 앞,10,2016-07-01 00:17:00,126,서강대 후문 옆,8,13,2550
4,SPB-00863,2016-07-01 00:04:00,329,청계2가 사거리 옆,4,2016-07-01 00:16:00,339,종로4가 사거리,10,12,1200
5,SPB-01525,2016-07-01 00:05:00,115,사루비아 빌딩 앞,11,2016-07-01 01:25:00,115,사루비아 빌딩 앞,11,79,9350
6,SPB-01200,2016-07-01 00:06:00,342,대학로 마로니에공원,8,2016-07-01 00:16:00,361,동묘앞역 1번출구 뒤,2,10,0
7,SPB-01394,2016-07-01 00:06:00,411,DMC홍보관,9,2016-07-01 00:16:00,402,상암월드컵파크 9단지 앞,13,10,1450
8,SPB-01998,2016-07-01 00:06:00,316,종각역 1번출구 앞,5,2016-07-01 00:43:00,318,광교사거리 남측,2,36,5110
9,SPB-00245,2016-07-01 00:07:00,316,종각역 1번출구 앞,1,2016-07-01 00:25:00,313,서울역 광장 파출소 옆,2,18,2870
10,SPB-00166,2016-07-01 00:07:00,124,서강대 정문 건너편,1,2016-07-01 00:15:00,119,서강나루 공원,10,7,1220
11,SPB-02098,2016-07-01 00:07:00,115,사루비아 빌딩 앞,12,2016-07-01 01:25:00,115,사루비아 빌딩 앞,2,77,9460
12,SPB-01391,2016-07-01 00:08:00,140,이화여대 후문,14,2016-07-01 00:22:00,140,이화여대 후문,14,13,1390
13,SPB-00478,2016-07-01 00:09:00,419,홈플러스 앞,9,2016-07-01 00:48:00,419,홈플러스 앞,5,38,7830
14,SPB-01239,2016-07-01 00:09:00,140,이화여대 후문,15,2016-07-01 00:22:00,140,이화여대 후문,15,12,1400
15,SPB-00490,2016-07-01 00:11:00,132,창천문화공원,11,2016-07-01 00:32:00,107,신한은행 서교동금융센터점 앞,1,21,2030
16,SPB-00380,2016-07-01 00:12:00,334,종로3가역 2번출구 뒤,3,2016-07-01 00:20:00,354,포르투갈 대사관 앞,1,7,1160
17,SPB-00835,2016-07-01 00:13:00,419,홈플러스 앞,13,2016-07-01 00:48:00,419,홈플러스 앞,3,34,7690
18,SPB-00807,2016-07-01 00:13:00,326,안국역 5번출구 앞,1,2016-07-01 00:56:00,369,광화문 시민열린마당,1,42,5110
19,SPB-01869,2016-07-01 00:14:00,303,광화문역 1번출구 앞,1,2016-07-01 00:27:00,314,국립현대미술관,5,12,1810
20,SPB-01467,2016-07-01 00:15:00,512,뚝섬역 1번 출구 옆,12,2016-07-01 00:56:00,512,뚝섬역 1번 출구 옆,9,40,1770
21,SPB-01549,2016-07-01 00:15:00,512,뚝섬역 1번 출구 옆,13,2016-07-01 00:56:00,512,뚝섬역 1번 출구 옆,10,40,2190
22,SPB-00839,2016-07-01 00:16:00,312,시청역 1번출구 뒤,4,2016-07-01 00:30:00,313,서울역 광장 파출소 옆,2,13,1780
23,SPB-01015,2016-07-01 00:17:00,122,신성기사식당 앞,10,2016-07-01 00:21:00,118,광흥창역 2번출구 앞,1,3,640
24,SPB-00310,2016-07-01 00:17:00,421,마포구청 앞,3,2016-07-01 00:30:00,412,DMC산학협력연구센터 앞,8,12,1980
25,SPB-00502,2016-07-01 00:18:00,346,맥스타일 앞,4,2016-07-01 00:33:00,356,KT혜화지사 앞,1,14,1720
26,SPB-01910,2016-07-01 00:18:00,105,합정역 5번출구 앞,2,2016-07-01 00:30:00,115,사루비아 빌딩 앞,12,12,1780
27,SPB-00991,2016-07-01 00:19:00,124,서강대 정문 건너편,3,2016-07-01 00:22:00,121,마포소방서 앞,1,2,410
28,SPB-00412,2016-07-01 00:20:00,124,서강대 정문 건너편,7,2016-07-01 00:29:00,119,서강나루 공원,8,9,1080
29,SPB-00911,2016-07-01 00:21:00,320,을지로입구역 4번출구 앞,5,2016-07-01 00:46:00,358,성대입구 사거리,1,24,4040
...,...,...,...,...,...,...,...,...,...,...,...
122154,SPB-00093,2016-07-31 23:48:00,188,홍은동 정원여중 입구,4,2016-08-01 00:04:00,141,연대 대운동장 옆,20,14,3520
122155,SPB-00383,2016-07-31 23:49:00,400,상암한화오벨리스크 1차 앞,10,2016-08-01 01:38:00,400,상암한화오벨리스크 1차 앞,3,108,10050
122156,SPB-01792,2016-07-31 23:50:00,125,서강대 남문 옆,2,2016-07-31 23:55:00,129,신촌역(2호선) 6번출구 옆,12,4,680
122157,SPB-01905,2016-07-31 23:51:00,703,오목교역 7번출구 앞,10,2016-07-31 23:59:00,716,신정6동 주민센터 인근,3,7,1450
122158,SPB-03146,2016-07-31 23:51:00,175,홍연2교옆,1,2016-08-01 01:59:00,175,홍연2교옆,7,127,37700
122159,SPB-03844,2016-07-31 23:51:00,121,마포소방서 앞,2,2016-08-01 00:12:00,126,서강대 후문 옆,2,20,1310
122160,SPB-01536,2016-07-31 23:51:00,247,당산역 10번출구 앞,3,2016-08-01 00:55:00,247,당산역 10번출구 앞,9,37,9150
122161,SPB-01155,2016-07-31 23:51:00,142,아현역 4번출구 앞,8,2016-07-31 23:59:00,156,서울서부지방법원 앞,1,7,1320
122162,SPB-04554,2016-07-31 23:51:00,400,상암한화오벨리스크 1차 앞,12,2016-08-01 01:38:00,400,상암한화오벨리스크 1차 앞,9,106,10220
122163,SPB-01994,2016-07-31 23:52:00,571,어린이대공원역6번출구,3,2016-08-01 00:06:00,502,뚝섬유원지역 1번출구 앞,6,14,2120
122164,SPB-01857,2016-07-31 23:52:00,355,서울사대부속초교 앞,15,2016-07-31 23:55:00,342,대학로 마로니에공원,4,2,430
122165,SPB-02101,2016-07-31 23:53:00,106,합정역 7번출구 앞,8,2016-08-01 00:05:00,112,극동방송국 앞,10,11,1640
122166,SPB-04288,2016-07-31 23:53:00,105,합정역 5번출구 앞,1,2016-08-01 00:03:00,114,홍대입구역 8번출구 앞,3,9,1240
122167,SPB-01555,2016-07-31 23:53:00,415,DMC역 9번출구 앞,10,2016-08-01 00:03:00,407,마포구 육아종합지원센터,3,9,1780
122168,SPB-01408,2016-07-31 23:54:00,247,당산역 10번출구 앞,7,2016-08-01 00:55:00,247,당산역 10번출구 앞,7,60,12490
122169,SPB-02239,2016-07-31 23:54:00,709,신정3동 현장민원실 앞,10,2016-08-01 00:16:00,712,강월초교입구 사거리,11,22,2870
122170,SPB-04577,2016-07-31 23:54:00,579,마장역 4번출구,8,2016-08-01 00:18:00,512,뚝섬역 1번 출구 옆,8,22,3330
122171,SPB-02226,2016-07-31 23:55:00,147,마포역 4번출구 뒤,6,2016-08-01 00:38:00,147,마포역 4번출구 뒤,6,43,5440
122172,SPB-01800,2016-07-31 23:56:00,549,아차산역 3번출구,3,2016-08-01 00:33:00,549,아차산역 3번출구,3,36,4410
122173,SPB-02118,2016-07-31 23:56:00,228,선유도역 3번출구 앞,2,2016-08-01 01:08:00,228,선유도역 3번출구 앞,4,71,17620
122174,SPB-00376,2016-07-31 23:56:00,502,뚝섬유원지역 1번출구 앞,6,2016-08-01 03:17:00,539,군자교교차로,10,200,13590
122175,SPB-00971,2016-07-31 23:57:00,112,극동방송국 앞,3,2016-08-01 00:02:00,118,광흥창역 2번출구 앞,6,4,940
122176,SPB-03671,2016-07-31 23:57:00,207,여의나루역 1번출구 앞,17,2016-08-01 00:20:00,800,목월공원 앞,1,22,3580
122177,SPB-04559,2016-07-31 23:57:00,207,여의나루역 1번출구 앞,20,2016-08-01 00:21:00,800,목월공원 앞,5,23,3680
122178,SPB-00765,2016-07-31 23:58:00,135,명물길 원형무대 앞,4,2016-08-01 00:08:00,162,봉원고가차도 밑,15,9,1130
122179,SPB-02982,2016-07-31 23:58:00,342,대학로 마로니에공원,8,2016-08-01 00:05:00,343,예일빌딩(율곡로) 앞,3,6,750
122180,SPB-03796,2016-07-31 23:58:00,118,광흥창역 2번출구 앞,6,2016-08-01 00:20:00,142,아현역 4번출구 앞,8,21,4520
122181,SPB-04266,2016-07-31 23:58:00,244,영등포삼환아파트 앞,17,2016-08-01 00:54:00,244,영등포삼환아파트 앞,17,56,8050
122182,SPB-00891,2016-07-31 23:59:00,216,삼부아파트1동 앞,10,2016-08-01 00:02:00,224,롯데캐슬 앞,18,3,490
122183,SPB-03363,2016-07-31 23:59:00,244,영등포삼환아파트 앞,19,2016-08-01 00:54:00,244,영등포삼환아파트 앞,3,54,7990

# 대여/ 반납 일시 timestamp로

In [12]:
data_2016_1['대여일시'] = pd.to_datetime(data_2016_1['대여일시'])
data_2016_2['대여일시'] = pd.to_datetime(data_2016_2['대여일시'])
data_2016_3['대여일시'] = pd.to_datetime(data_2016_3['대여일시'])
data_2017_1['대여일시'] = pd.to_datetime(data_2017_1['대여일시'])
data_2017_2_1['대여일시'] = pd.to_datetime(data_2017_2_1['대여일시'])
data_2017_2_2['대여일시'] = pd.to_datetime(data_2017_2_2['대여일시'])
data_2017_3_1['대여일시'] = pd.to_datetime(data_2017_3_1['대여일시'])
data_2017_3_2['대여일시'] = pd.to_datetime(data_2017_3_2['대여일시'])
data_2017_4_1['대여일시'] = pd.to_datetime(data_2017_4_1['대여일시'])
data_2017_4_2['대여일시'] = pd.to_datetime(data_2017_4_2['대여일시'])
data_2018_1['대여일시'] = pd.to_datetime(data_2018_1['대여일시'])
data_2018_2_1['대여일시']= pd.to_datetime(data_2018_2_1['대여일시'])
data_2018_2_2['대여일시'] = pd.to_datetime(data_2018_2_2['대여일시'])
data_2018_2_3['대여일시'] = pd.to_datetime(data_2018_2_3['대여일시'])
data_2018_2_4['대여일시'] = pd.to_datetime(data_2018_2_4['대여일시'])

data_2016_1['반납일시'] = pd.to_datetime(data_2016_1['반납일시'])
data_2016_2['반납일시'] = pd.to_datetime(data_2016_2['반납일시'])
data_2016_3['반납일시'] = pd.to_datetime(data_2016_3['반납일시'])
data_2017_1['반납일시'] = pd.to_datetime(data_2017_1['반납일시'])
data_2017_2_1['반납일시'] = pd.to_datetime(data_2017_2_1['반납일시'])
data_2017_2_2['반납일시'] = pd.to_datetime(data_2017_2_2['반납일시'])
data_2017_3_1['반납일시'] = pd.to_datetime(data_2017_3_1['반납일시'])
data_2017_3_2['반납일시'] = pd.to_datetime(data_2017_3_2['반납일시'])
data_2017_4_1['반납일시'] = pd.to_datetime(data_2017_4_1['반납일시'])
data_2017_4_2['반납일시'] = pd.to_datetime(data_2017_4_2['반납일시'])
data_2018_1['반납일시'] = pd.to_datetime(data_2018_1['반납일시'])
data_2018_2_1['반납일시'] = pd.to_datetime(data_2018_2_1['반납일시'])
data_2018_2_2['반납일시'] = pd.to_datetime(data_2018_2_2['반납일시'])
data_2018_2_3['반납일시'] = pd.to_datetime(data_2018_2_3['반납일시'])
data_2018_2_4['반납일시'] = pd.to_datetime(data_2018_2_4['반납일시'])

In [13]:
type(data_2016_1['반납일시'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
data_2016_1 = data_2016_1.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2016_2 = data_2016_2.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2016_3 = data_2016_3.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2017_1 = data_2017_1.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2017_2_1 = data_2017_2_1.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2017_2_2 = data_2017_2_2.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2017_3_1 = data_2017_3_1.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2017_3_2 = data_2017_3_2.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2017_4_1 = data_2017_4_1.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2017_4_2 = data_2017_4_2.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2018_1 = data_2018_1.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2018_2_1 = data_2018_2_1.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2018_2_2 = data_2018_2_2.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2018_2_3 = data_2018_2_3.drop(['자전거번호','대여거치대','반납거치대'], axis=1)
data_2018_2_4 = data_2018_2_4.drop(['자전거번호','대여거치대','반납거치대'], axis=1)

In [15]:
# data type 맞추기 df.fillna(0).astype(int)
# data_2016_1['대여대여소번호'] = data_2016_1['대여대여소번호'].fillna(0).astype(int)
# data_2016_1['반납대여소번호'] = data_2016_1['반납대여소번호'].fillna(0).astype(int)

# 연도별 통합

In [16]:
data_2016 = pd.concat([data_2016_1,data_2016_2, data_2016_3],ignore_index=True)

In [17]:
data_2016.shape

(1219674, 8)

In [18]:
data_2017 = pd.concat([data_2017_1, data_2017_2_1, data_2017_2_2, data_2017_3_1, data_2017_3_2, data_2017_4_1, data_2017_4_2], ignore_index=True)

In [19]:
data_2017.shape

(4975954, 8)

In [20]:
data_2018 = pd.concat([data_2018_1, data_2018_2_1, data_2018_2_2, data_2018_2_3, data_2018_2_4], ignore_index=True)

In [21]:
data_2018.shape

(3567221, 8)

In [22]:
data_all = pd.concat([data_2016, data_2017, data_2018], ignore_index=True)

In [23]:
data_all.shape

(9762849, 8)

# 추가 컬럼 작업
## 대여요일 / 이용시간(분대) / 시간대(3시간단위) / 대여월 / 계절 / 날씨등등

In [25]:
#  Monday == 0 … Sunday == 6 weekday

In [24]:
data_all["대여요일"] = data_all["대여일시"].dt.strftime('%w')
########
시간대 = []
for i in range(int(data_all["대여일시"].size)):
    시간 = data_all['대여일시'][i].hour
    if 시간 >=0 and 시간 < 3:
        시간대.append("0~3시")
    elif 시간 >=3 and 시간 < 6:
        시간대.append("3~6시")
    elif 시간 >=6 and 시간 < 9:
        시간대.append("6~9시")
    elif 시간 >=9 and 시간 < 12:
        시간대.append("9~12시")
    elif 시간 >=12 and 시간 < 15:
        시간대.append("12~15시")
    elif 시간 >=15 and 시간 < 18:
        시간대.append("15~18시")
    elif 시간 >=18 and 시간 < 21:
        시간대.append("18~21시")
    elif 시간 >=21 and 시간 < 24:
        시간대.append("21~24시")
data_all['시간대']=시간대
data_all.head
########################
data_all["대여월"] = data_all["대여일시"].dt.strftime('%m')

# 이상치 제거
'''
속력 50 이상
시간 240분 이상
'''

In [25]:
data_all.head()

,대여일시,대여대여소번호,대여대여소,반납일시,반납대여소번호,반납대여소,이용시간(분),이용거리(M),대여요일,시간대,대여월
0,2016-07-01 00:01:00,359,원남동사거리,2016-07-01 00:05:00,333,창덕궁 매표소 앞,3,680,5,0~3시,07
1,2016-07-01 00:02:00,128,신촌역(2호선) 1번출구 옆,2016-07-01 00:12:00,126,서강대 후문 옆,9,1350,5,0~3시,07
2,2016-07-01 00:03:00,302,경복궁역 4번출구 뒤,2016-07-01 00:10:00,351,청운초교 앞 삼거리,7,1290,5,0~3시,07
3,2016-07-01 00:03:00,114,홍대입구역 8번출구 앞,2016-07-01 00:17:00,126,서강대 후문 옆,13,2550,5,0~3시,07
4,2016-07-01 00:04:00,329,청계2가 사거리 옆,2016-07-01 00:16:00,339,종로4가 사거리,12,1200,5,0~3시,07

In [37]:
type(data_all.loc[1]['이용시간(분)'])

numpy.int64

In [38]:
drop_index = []
for i in range(len(data_all)):
    if (data_all.loc[i]['이용거리(M)'] / data_all.loc[i]['이용시간(분)']) * 0.06 >= 50:
        drop_index.append(i)
    elif data_all.loc[i]['이용시간(분)'] >= 240:
        drop_index.append(i)
len(drop_index)

KeyError: 'the label [8545914] is not in the [index]'

In [40]:
len(drop_index)

44068

In [42]:
data_all.drop(data_all.index[drop_index])
data_all.to_csv("data_all.csv", sep=',', encoding='utf-8')

# 대여 / 반납 카운트 용 저장소 만들기

In [43]:
대여소정리 = pd.read_excel("대여소정보.xlsx", encoding = "utf8")
대여소정리

,구분,대여소번호,대여소명,대여소 주소,거치대수,위도,경도
0,강남구,2301,현대고등학교 건너편,서울특별시 강남구 압구정로 134,10,37.524071,127.021790
1,강남구,2302,교보타워 버스정류장(신논현역 3번출구 후면),서울특별시 강남구 봉은사로 지하 102,10,37.505581,127.024277
2,강남구,2303,논현역 7번출구,서울특별시 강남구 학동로 지하 102,15,37.511517,127.021477
3,강남구,2304,신영 ROYAL PALACE 앞,서울특별시 강남구 언주로 626,10,37.512527,127.035835
4,강남구,2305,MCM 본사 직영점 앞,서울특별시 강남구 언주로 734,10,37.520641,127.034508
5,강남구,2306,압구정역 2번 출구 옆,서울특별시 강남구 압구정로 지하 172,30,37.527122,127.028717
6,강남구,2307,압구정 한양 3차 아파트,서울특별시 강남구 압구정로 321,10,37.528614,127.038559
7,강남구,2308,압구정파출소 앞,서울특별시 강남구 압구정로 311,14,37.529301,127.035599
8,강남구,2309,청담역(우리들병원 앞),서울특별시 강남구 학동로 443,10,37.518902,127.049385
9,강남구,2310,청담동 맥도날드 옆(위치),서울특별시 강남구 학동로 지하 508,10,37.523613,127.040176
10,강남구,2311,학동로 래미안 아파트 앞,서울특별시 강남구 학동로 지하 508,10,37.517773,127.043022
11,강남구,2312,청담역 13번 출구 앞,서울특별시 강남구 영동대로 703,10,37.520580,127.056328
12,강남구,2313,금원빌딩 앞,서울특별시 강남구 도산대로 539,10,37.525116,127.052467
13,강남구,2314,청담나들목입구,서울특별시 강남구 영동대로128길 59,10,37.521275,127.061035
14,강남구,2315,봉은사역 5번출구 옆,서울특별시 강남구 봉은사로 지하 601,10,37.514248,127.061119
15,강남구,2316,삼성역 8번출구,서울특별시 강남구 영동대로 502,10,37.509575,127.063408
16,강남구,2317,삼성도로공원,서울특별시 강남구 영동대로112길 66,10,37.515888,127.066200
17,강남구,2318,삼성중앙역4번출구(문화센터더 리빌),서울특별시 강남구 봉은사로 531,15,37.513577,127.055031
18,강남구,2319,포스코4거리 서측(수협 삼성동 지점),서울특별시 강남구 테헤란로 435,10,37.506607,127.054680
19,강남구,2320,도곡역 대치지구대 방향,서울특별시 강남구 남부순환로 지하 2814,10,37.491928,127.056969
20,강남구,2321,학여울역 사거리,서울특별시 강남구 남부순환로 지하 3104,10,37.496117,127.069443
21,강남구,2322,삼성역 3번 출구,서울특별시 강남구 테헤란로 534,15,37.508091,127.063103
22,강남구,2323,주식회사 오뚜기 정문 앞,서울특별시 강남구 영동대로 308,10,37.502213,127.067207
23,강남구,2324,천주교 대치 2동 교회 옆,서울특별시 강남구 도곡로 540,10,37.500439,127.066223
24,강남구,2325,대치동 버거킹대치점,서울특별시 강남구 도곡로 447,10,37.498650,127.059319
25,강남구,2326,대치동 삼성로,서울특별시 강남구 삼성로 350,10,37.502396,127.058800
26,강남구,2327,뱅뱅사거리 랜드마크타워 앞,서울특별시 강남구 강남대로 308,15,37.490551,127.031464
27,강남구,2328,르네상스 호텔 사거리 역삼지하보도 7번출구 앞,서울특별시 강남구 언주로 506,10,37.503586,127.042641
28,강남구,2329,르네상스호텔사거리 역삼지하보도 2번출구,서울특별시 강남구 테헤란로 지하 156,10,37.502357,127.043190
29,강남구,2330,스타벅스 앞,서울특별시 강남구 도곡로 183,10,37.492199,127.039459
...,...,...,...,...,...,...,...
1133,중랑구,1420,신내어울공원 앞,서울특별시 중랑구 신내로16길 17,15,37.614231,127.096764
1134,중랑구,1421,신내역 4번출구,서울특별시 중랑구 신내로 지하 232,20,37.612461,127.103378
1135,중랑구,1422,신내우디안아파트 1단지,서울특별시 중랑구 신내역로 213,10,37.620098,127.106461
1136,중랑구,1424,양원역 2번출구,서울특별시 중랑구 송림길 147,10,37.606312,127.107742
1137,중랑구,1425,용마문화복지센터,서울특별시 중랑구 용마산로86길 9-27,10,37.587460,127.095970
1138,중랑구,1426,면목도시개발아파트 1동 앞,서울특별시 중랑구 용마산로 지하 227,15,37.573589,127.086823
1139,중랑구,1427,용마산역 1번출구,서울특별시 중랑구 용마산로 지하 227,10,37.574299,127.086914
1140,중랑구,1428,원묵고등학교,서울특별시 중랑구 숙선옹주로 66,10,37.616024,127.085968
1141,중랑구,1429,장안중학교,서울특별시 중랑구 동일로 778,15,37.599957,127.080002
1142,중랑구,1430,중랑구청,서울특별시 중랑구 봉화산로 179,20,37.606152,127.092598
1143,중랑구,1431,중랑구청 사거리,서울특별시 중랑구 봉화산로 194,10,37.606499,127.095451
1144,중랑구,1433,중화역 2번출구,서울특별시 중랑구 동일로 지하 797,10,37.602077,127.079582
1145,중랑구,1434,홈플러스 면목동점,서울특별시 중랑구 사가정로 332,15,37.579868,127.082367
1146,중랑구,1435,능산삼거리,서울특별시 중랑구 용마산로 644,15,37.608681,127.100792
1147,중랑구,1436,영풍마드레빌,서울특별시 중랑구 용마산로129가길 41,15,37.605881,127.100632
1148,중랑구,1437,늘푸른공원 앞,서울특별시 중랑구 동일로 594,15,37.583420,127.079926
1149,중랑구,1438,홈플러스 신내점 앞,서울특별시 중랑구 신내로 지하 232,15,37.616169,127.093483
1150,중랑구,1440,하나은행 면목지점,서울특별시 중랑구 동일로 628,10,37.586372,127.080070
1151,중랑구,1441,신내능말공원,서울특별시 중랑구 용마산로136길 33,15,37.616711,127.110733
1152,중랑구,1442,(구)신한은행 중랑교지점,서울특별시 중화동 50-8,8,37.598591,127.079819
1153,중랑구,1443,구립망우청소년독서실,서울특별시 중랑구 망우동 534-23,10,37.595520,127.098778
1154,중랑구,1445,용마지구대,서울특별시 면목동 197-5,10,37.579941,127.079399
1155,중랑구,1446,중랑전화국 교차로,서울특별시 중랑구 면목동 282-8,10,37.591301,127.080330
1156,중랑구,1447,면목역 3번출구,서울특별시 면목동 120-2,15,37.588902,127.087280
1157,중랑구,1448,코스트코 상봉점,서울특별시 상봉동 160-3,15,37.597321,127.089798
1158,중랑구,1449,상봉역 1번출구,서울특별시 중랑구 망우로 297,15,37.596558,127.085838
1159,중랑구,1450,화랑대역 7번출구,서울특별시 노원구 화랑로 지하 510,10,37.619625,127.085014
1160,중랑구,1451,중랑세무서,서울특별시 중랑구 망우로 176,10,37.592758,127.072670
1161,중랑구,1455,상봉역 2번 출구,서울특별시 중랑구 망우로 297,10,37.596329,127.085899
1162,중랑구,1456,상아빌딩(우림시장 교차로),서울특별시 중랑구 용마산로 494,10,37.595112,127.100327

In [44]:
data_time = pd.DataFrame(대여소정리["대여소명"])
#df.set_index(대여소정리["대여소명"])
#df.set_index("대여소명")
data_time["대여소번호"] = 대여소정리["대여소번호"]
data_time.head()

                        대여소명  대여소번호
0                 현대고등학교 건너편   2301
1   교보타워 버스정류장(신논현역 3번출구 후면)   2302
2                   논현역 7번출구   2303
3          신영 ROYAL PALACE 앞   2304
4               MCM 본사 직영점 앞   2305

In [45]:
대여정보 = data_all[['대여일시','대여대여소번호']]
대여정보.head()

                 대여일시 대여대여소번호
0 2016-07-01 00:01:00     359
1 2016-07-01 00:02:00     128
2 2016-07-01 00:03:00     302
3 2016-07-01 00:03:00     114
4 2016-07-01 00:04:00     329

In [46]:
반납정보 = data_all[['반납일시','반납대여소번호']]
반납정보.head()

                 반납일시 반납대여소번호
0 2016-07-01 00:05:00     333
1 2016-07-01 00:12:00     126
2 2016-07-01 00:10:00     351
3 2016-07-01 00:17:00     126
4 2016-07-01 00:16:00     339

In [47]:
slicing =[]
def time_slice(x):
    hour_minutes = (60*int(x.strftime('%H')) + int(x.strftime('%M')))
    a = str(int(x.strftime("%Y"))%100)+"년 "+x.strftime('%m')+"월 "+x.strftime("%d")+"일 "+str(int(hour_minutes/30)+1).zfill(2) 
    slicing.append(a)
    return slicing

In [48]:
for i in range(len(대여정보)):
    time_slice(대여정보["대여일시"][i])
len(slicing)
대여정보["time_slice"] = slicing
대여정보.head()

C:\Users\Harim\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

                 대여일시 대여대여소번호      time_slice
0 2016-07-01 00:01:00     359  16년 07월 01일 01
1 2016-07-01 00:02:00     128  16년 07월 01일 01
2 2016-07-01 00:03:00     302  16년 07월 01일 01
3 2016-07-01 00:03:00     114  16년 07월 01일 01
4 2016-07-01 00:04:00     329  16년 07월 01일 01

In [49]:
대여정보 = 대여정보.rename(index=str, columns={'대여대여소번호':'대여소번호'})
반납정보 = 반납정보.rename(index=str, columns={'반납대여소번호':'대여소번호'})

In [50]:
반납정보.head()

                 반납일시 대여소번호
0 2016-07-01 00:05:00   333
1 2016-07-01 00:12:00   126
2 2016-07-01 00:10:00   351
3 2016-07-01 00:17:00   126
4 2016-07-01 00:16:00   339

In [51]:
slicing =[]
for i in range(len(반납정보)):
    time_slice(반납정보["반납일시"][i])
len(slicing)
반납정보["time_slice"]=slicing
반납정보.head()

                 반납일시 대여소번호      time_slice
0 2016-07-01 00:05:00   333  16년 07월 01일 01
1 2016-07-01 00:12:00   126  16년 07월 01일 01
2 2016-07-01 00:10:00   351  16년 07월 01일 01
3 2016-07-01 00:17:00   126  16년 07월 01일 01
4 2016-07-01 00:16:00   339  16년 07월 01일 01

In [52]:
대여정보.groupby(['대여소번호', 'time_slice'])['time_slice'].count()

대여소번호           time_slice
1               16년 09월 25일 32    1
1001            17년 04월 28일 38    1
                17년 05월 16일 29    1
                17년 05월 16일 33    2
                17년 05월 16일 39    1
                17년 05월 16일 40    1
                17년 05월 16일 41    2
                17년 05월 16일 43    1
                17년 05월 16일 44    2
                17년 05월 16일 45    3
                17년 05월 16일 46    4
                17년 05월 17일 01    1
                17년 05월 17일 03    1
                17년 05월 17일 06    3
                17년 05월 17일 18    1
                17년 05월 17일 23    2
                17년 05월 17일 24    1
                17년 05월 17일 27    1
                17년 05월 17일 30    5
                17년 05월 17일 34    2
                17년 05월 17일 35    3
                17년 05월 17일 39    1
                17년 05월 17일 41    3
                17년 05월 17일 42    4
                17년 05월 17일 46    3
                17년 05월 18일 08    1
                17년 05월 18일 24    2
                17년 05월 18일 27    1
                17년 05월 18일 39    2
                17년 05월 18일 40    2
                                 ..
중랑정비팀test 1005  17년 05월 28일 05    1
                17년 05월 28일 27    2
                17년 05월 28일 28    2
                17년 05월 28일 30    2
                17년 05월 28일 34    2
                17년 05월 28일 36    1
                17년 05월 29일 32    1
                17년 05월 29일 36    1
                17년 05월 29일 47    1
                17년 05월 29일 48    1
                17년 05월 30일 20    1
                17년 05월 30일 31    1
                17년 05월 30일 46    1
                17년 05월 30일 47    1
                17년 05월 31일 22    1
                17년 06월 01일 39    1
                17년 06월 02일 23    1
                17년 06월 02일 31    2
                17년 06월 03일 01    1
                17년 06월 03일 02    1
                17년 06월 03일 29    2
                17년 06월 03일 38    4
                17년 06월 03일 42    2
                17년 06월 03일 45    1
                17년 06월 04일 28    1
                17년 06월 04일 39    2
                17년 06월 04일 43    1
                17년 06월 04일 44    1
                17년 06월 05일 12    1
                17년 06월 05일 26    1
Name: time_slice, Length: 5753410, dtype: int64

In [53]:
a = 대여정보.groupby(['대여소번호', 'time_slice'])['time_slice'].count()

In [54]:
대여=a.unstack().fillna(0)

In [55]:
반납 = 반납정보.groupby(["대여소번호", "time_slice"])['time_slice'].count().unstack().fillna(0)

In [56]:
수요량 = 대여.sub(반납, fill_value = 0)

In [57]:
대여.to_csv("대여.csv", sep=',', encoding='utf-8')

In [58]:
반납.to_csv("반납.csv", sep=',', encoding='utf-8')

In [59]:
수요량

time_slice,16년 07월 01일 01,16년 07월 01일 02,16년 07월 01일 03,16년 07월 01일 04,16년 07월 01일 05,16년 07월 01일 06,16년 07월 01일 07,16년 07월 01일 08,16년 07월 01일 09,16년 07월 01일 10,...,18년 07월 01일 02,18년 07월 01일 03,18년 07월 01일 04,18년 07월 01일 05,18년 07월 01일 06,18년 07월 01일 07,18년 07월 01일 08,18년 07월 01일 37,18년 07월 02일 31,18년 07월 03일 34
대여소번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,-2.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,0.0,-1.0,-2.0,0.0,0.0,-1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,0.0,0.0,0.0
1020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
935,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
956,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
상암센터 정비실,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
위트콤,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
위트콤공장,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
중랑센터,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
중랑정비팀test 1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
수요량.to_csv("data_save_2018_08_17/수요량.csv", sep=",", encoding='utf-8')

In [76]:
수요량.loc['중랑정비팀test 1005'][15000:-18800]

time_slice
17년 05월 10일 25    0.0
17년 05월 10일 26    0.0
17년 05월 10일 27    0.0
17년 05월 10일 28    0.0
17년 05월 10일 29    0.0
17년 05월 10일 30    0.0
17년 05월 10일 31    0.0
17년 05월 10일 32    0.0
17년 05월 10일 33    0.0
17년 05월 10일 34    0.0
17년 05월 10일 35    0.0
17년 05월 10일 36    0.0
17년 05월 10일 37   -1.0
17년 05월 10일 38    1.0
17년 05월 10일 39    0.0
17년 05월 10일 40    0.0
17년 05월 10일 41    0.0
17년 05월 10일 42    0.0
17년 05월 10일 43    0.0
17년 05월 10일 44   -1.0
17년 05월 10일 45    1.0
17년 05월 10일 46    0.0
17년 05월 10일 47    0.0
17년 05월 10일 48    0.0
17년 05월 11일 01    0.0
17년 05월 11일 02    0.0
17년 05월 11일 03    0.0
17년 05월 11일 04    0.0
17년 05월 11일 05    0.0
17년 05월 11일 06    0.0
                 ...
17년 06월 01일 43    0.0
17년 06월 01일 44   -1.0
17년 06월 01일 45   -1.0
17년 06월 01일 46    0.0
17년 06월 01일 47   -1.0
17년 06월 01일 48   -1.0
17년 06월 02일 01    0.0
17년 06월 02일 02    0.0
17년 06월 02일 03    0.0
17년 06월 02일 04    0.0
17년 06월 02일 05    0.0
17년 06월 02일 06    0.0
17년 06월 02일 07    0.0
17년 06월 02일 08    0.0
17년 06월 02일 09    0.0
17년 06월 02일 10    0.0
17년 06월 02일 11    0.0
17년 06월 02일 12    0.0
17년 06월 02일 13    0.0
17년 06월 02일 14    0.0
17년 06월 02일 15    0.0
17년 06월 02일 16    0.0
17년 06월 02일 17    0.0
17년 06월 02일 18    0.0
17년 06월 02일 19    0.0
17년 06월 02일 20    0.0
17년 06월 02일 21    0.0
17년 06월 02일 22    0.0
17년 06월 02일 23    1.0
17년 06월 02일 24    0.0
Name: 중랑정비팀test 1005, Length: 1104, dtype: float64

In [78]:
수요량.shape

(1297, 34904)

In [79]:
수요량.iloc[0]

time_slice
16년 07월 01일 01    0.0
16년 07월 01일 02    0.0
16년 07월 01일 03    0.0
16년 07월 01일 04    0.0
16년 07월 01일 05    0.0
16년 07월 01일 06    0.0
16년 07월 01일 07    0.0
16년 07월 01일 08    0.0
16년 07월 01일 09    0.0
16년 07월 01일 10    0.0
16년 07월 01일 11    0.0
16년 07월 01일 12    0.0
16년 07월 01일 13    0.0
16년 07월 01일 14    0.0
16년 07월 01일 15    0.0
16년 07월 01일 16    0.0
16년 07월 01일 17    0.0
16년 07월 01일 18    0.0
16년 07월 01일 19    0.0
16년 07월 01일 20    0.0
16년 07월 01일 21    0.0
16년 07월 01일 22    0.0
16년 07월 01일 23    0.0
16년 07월 01일 24    0.0
16년 07월 01일 25    0.0
16년 07월 01일 26    0.0
16년 07월 01일 27    0.0
16년 07월 01일 28    0.0
16년 07월 01일 29    0.0
16년 07월 01일 30    0.0
                 ...
18년 06월 30일 30    0.0
18년 06월 30일 31    0.0
18년 06월 30일 32    0.0
18년 06월 30일 33    0.0
18년 06월 30일 34    0.0
18년 06월 30일 35    0.0
18년 06월 30일 36    0.0
18년 06월 30일 37    0.0
18년 06월 30일 38    0.0
18년 06월 30일 39    0.0
18년 06월 30일 40    0.0
18년 06월 30일 41    0.0
18년 06월 30일 42    0.0
18년 06월 30일 43    0.0
18년 06월 30일 44    0.0
18년 06월 30일 45    0.0
18년 06월 30일 46    0.0
18년 06월 30일 47    0.0
18년 06월 30일 48    0.0
18년 07월 01일 01    0.0
18년 07월 01일 02    0.0
18년 07월 01일 03    0.0
18년 07월 01일 04    0.0
18년 07월 01일 05    0.0
18년 07월 01일 06    0.0
18년 07월 01일 07    0.0
18년 07월 01일 08    0.0
18년 07월 01일 37    0.0
18년 07월 02일 31    0.0
18년 07월 03일 34    0.0
Name: 1, Length: 34904, dtype: float64

In [80]:
첫번째로우 = 수요량.iloc[0]

In [81]:
첫번째로우

time_slice
16년 07월 01일 01    0.0
16년 07월 01일 02    0.0
16년 07월 01일 03    0.0
16년 07월 01일 04    0.0
16년 07월 01일 05    0.0
16년 07월 01일 06    0.0
16년 07월 01일 07    0.0
16년 07월 01일 08    0.0
16년 07월 01일 09    0.0
16년 07월 01일 10    0.0
16년 07월 01일 11    0.0
16년 07월 01일 12    0.0
16년 07월 01일 13    0.0
16년 07월 01일 14    0.0
16년 07월 01일 15    0.0
16년 07월 01일 16    0.0
16년 07월 01일 17    0.0
16년 07월 01일 18    0.0
16년 07월 01일 19    0.0
16년 07월 01일 20    0.0
16년 07월 01일 21    0.0
16년 07월 01일 22    0.0
16년 07월 01일 23    0.0
16년 07월 01일 24    0.0
16년 07월 01일 25    0.0
16년 07월 01일 26    0.0
16년 07월 01일 27    0.0
16년 07월 01일 28    0.0
16년 07월 01일 29    0.0
16년 07월 01일 30    0.0
                 ...
18년 06월 30일 30    0.0
18년 06월 30일 31    0.0
18년 06월 30일 32    0.0
18년 06월 30일 33    0.0
18년 06월 30일 34    0.0
18년 06월 30일 35    0.0
18년 06월 30일 36    0.0
18년 06월 30일 37    0.0
18년 06월 30일 38    0.0
18년 06월 30일 39    0.0
18년 06월 30일 40    0.0
18년 06월 30일 41    0.0
18년 06월 30일 42    0.0
18년 06월 30일 43    0.0
18년 06월 30일 44    0.0
18년 06월 30일 45    0.0
18년 06월 30일 46    0.0
18년 06월 30일 47    0.0
18년 06월 30일 48    0.0
18년 07월 01일 01    0.0
18년 07월 01일 02    0.0
18년 07월 01일 03    0.0
18년 07월 01일 04    0.0
18년 07월 01일 05    0.0
18년 07월 01일 06    0.0
18년 07월 01일 07    0.0
18년 07월 01일 08    0.0
18년 07월 01일 37    0.0
18년 07월 02일 31    0.0
18년 07월 03일 34    0.0
Name: 1, Length: 34904, dtype: float64

In [86]:
first_row = pd.DataFrame({'time':첫번째로우.index, 'count':첫번째로우.values})

In [87]:
first_row

                 time  count
0      16년 07월 01일 01    0.0
1      16년 07월 01일 02    0.0
2      16년 07월 01일 03    0.0
3      16년 07월 01일 04    0.0
4      16년 07월 01일 05    0.0
5      16년 07월 01일 06    0.0
6      16년 07월 01일 07    0.0
7      16년 07월 01일 08    0.0
8      16년 07월 01일 09    0.0
9      16년 07월 01일 10    0.0
10     16년 07월 01일 11    0.0
11     16년 07월 01일 12    0.0
12     16년 07월 01일 13    0.0
13     16년 07월 01일 14    0.0
14     16년 07월 01일 15    0.0
15     16년 07월 01일 16    0.0
16     16년 07월 01일 17    0.0
17     16년 07월 01일 18    0.0
18     16년 07월 01일 19    0.0
19     16년 07월 01일 20    0.0
20     16년 07월 01일 21    0.0
21     16년 07월 01일 22    0.0
22     16년 07월 01일 23    0.0
23     16년 07월 01일 24    0.0
24     16년 07월 01일 25    0.0
25     16년 07월 01일 26    0.0
26     16년 07월 01일 27    0.0
27     16년 07월 01일 28    0.0
28     16년 07월 01일 29    0.0
29     16년 07월 01일 30    0.0
...               ...    ...
34874  18년 06월 30일 30    0.0
34875  18년 06월 30일 31    0.0
34876  18년 06월 30일 32    0.0
34877  18년 06월 30일 33    0.0
34878  18년 06월 30일 34    0.0
34879  18년 06월 30일 35    0.0
34880  18년 06월 30일 36    0.0
34881  18년 06월 30일 37    0.0
34882  18년 06월 30일 38    0.0
34883  18년 06월 30일 39    0.0
34884  18년 06월 30일 40    0.0
34885  18년 06월 30일 41    0.0
34886  18년 06월 30일 42    0.0
34887  18년 06월 30일 43    0.0
34888  18년 06월 30일 44    0.0
34889  18년 06월 30일 45    0.0
34890  18년 06월 30일 46    0.0
34891  18년 06월 30일 47    0.0
34892  18년 06월 30일 48    0.0
34893  18년 07월 01일 01    0.0
34894  18년 07월 01일 02    0.0
34895  18년 07월 01일 03    0.0
34896  18년 07월 01일 04    0.0
34897  18년 07월 01일 05    0.0
34898  18년 07월 01일 06    0.0
34899  18년 07월 01일 07    0.0
34900  18년 07월 01일 08    0.0
34901  18년 07월 01일 37    0.0
34902  18년 07월 02일 31    0.0
34903  18년 07월 03일 34    0.0

[34904 rows x 2 columns]